.login-form__container {
    width: 80%;
    position: relative;
    margin: auto;
    border: 1px solid #ddd;
}

.page-header {
    padding: 20px 1px 20px 10px;
    background: #F8F8F8;
    border-bottom: 1px solid #dddddd;
}

.notes-wrapper {
    display: flex;
    height: 590px;
    background: #ffffff;
}

.note-list-container {
    flex: 3;
    border-right: 1px solid #dddddd;
    overflow-y: auto
}

.add-note-button-container {
    flex: 7;
    padding: 20px;
    padding-left: 40px
}

.note-list-item{
    border-bottom: 1px solid #ddd;
    border-top: 0px;
    padding: 15px!important;
    cursor: pointer;
}

.note-title {
    margin-bottom: 2px;
}

.update-button {
    margin-top: 10px!important;
    margin-bottom: 10px!important;;
}

@media only screen and (max-width: 600px) {
    .notes-wrapper {
        flex-direction: column;
    }
    .login-form__container {
        width: 100%;
    }

    .note-list-container {
        flex: 0;
    }
}
